<div class="drawer lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Page content here -->
    <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
      Open drawer
    </label>
     <%= yield :main_content %>
  </div>


  <div class="drawer-side">
    <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4 flex flex-col justify-between">
      <!-- TOP -->
      <div>
        <h2 class="text-2xl font-bold text-center mb-4">
          <%= current_user.username.capitalize %>'s Todo Space
        </h2>

        <button class="btn btn-neutral flex items-center text-md mb-1 font-semibold hover:underline" onclick="my_modal_2.showModal()">
         <span class='mr-2'>Add new List</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
          </svg>
        </button>
        <%= yield :sidebar_content %>
      </div>
      <!-- TOP -->

      <!-- Bottom -->
      <div class="mt-auto flex flex-col justify-center w-full">
        <!-- Settings -->
        <div class="dropdown dropdown-top dropdown-end w-full">
          <div tabindex="0" role="button" class="btn btn-primary w-full">Settings</div>
          <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-full p-2 shadow">
            <li><%= link_to "Edit Account",  edit_user_registration_path %></li>
            <li><%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete } %></li>
          </ul>
        </div>
        <!-- Settings -->
      </div>
      <!-- Bottom -->

    </ul>
  </div>
</div>

<!-- Modal -->
<%= render 'lists/list_modal' %>