<%= turbo_frame_tag "new_item_form" do %>
  <%= form_with(model: [list, list.items.build], local: false, html: { class: "space-y-4" }) do |form| %>
    <div class="form-control">
      <%= form.label :title, class: "label" %>
      <%= form.text_field :title, class: "input input-bordered", required: true %>
    </div>

    <div class="form-control">
      <%= form.label :description, class: "label" %>
      <%= form.text_area :description, class: "input input-bordered h-32" %>
    </div>  

    <div class="form-control">
      <%= form.label :date, class: "label" %>
      <%= form.date_field :date, class: "input input-bordered" %>
    </div>

    <div class="flex space-x-2">
      <div class="form-control w-1/2">
      <%= form.label :priority, class: "label" %>
      <%= form.select :priority, Item.priorities.keys.map { |priority| [priority.humanize, priority] }, {}, class: "select select-bordered w-full" %>
      </div>
    </div>

    <div class="form-control mt-6">
      <%= form.submit "Add Item", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
